@use 'sass:math';
@use 'sass:string';

@use '../custom' as *;
$row-prefix-cls: string.unquote('#{$css-prefix}row');
$col-prefix-cls: string.unquote('#{$css-prefix}col');

// mixins for grid system

@mixin loop-grid-columns($index, $class) {
  @if $index > 0 {
    @include loop-grid-columns(($index - 1), $class);

    .#{$col-prefix-cls}-span#{$class}-#{$index} {
      display: block;
      flex: 0 0 math.percentage(math.div($index, $grid-columns));
      max-width: math.percentage(math.div($index, $grid-columns));
    }
    .#{$col-prefix-cls}#{$class}-push-#{$index} {
      left: math.percentage(math.div($index, $grid-columns));
    }
    .#{$col-prefix-cls}#{$class}-pull-#{$index} {
      right: math.percentage(math.div($index, $grid-columns));
    }
    .#{$col-prefix-cls}#{$class}-offset-#{$index} {
      margin-left: math.percentage(math.div($index, $grid-columns));
    }
    .#{$col-prefix-cls}#{$class}-order-#{$index} {
      order: $index;
    }
  }

  @if $index == 0 {
    .#{$col-prefix-cls}-span#{$class}-#{$index} {
      display: none;
    }
    .#{$col-prefix-cls}-push-#{$index} {
      left: auto;
    }
    .#{$col-prefix-cls}-pull-#{$index} {
      right: auto;
    }
    .#{$col-prefix-cls}#{$class}-push-#{$index} {
      left: auto;
    }
    .#{$col-prefix-cls}#{$class}-pull-#{$index} {
      right: auto;
    }
    .#{$col-prefix-cls}#{$class}-offset-#{$index} {
      margin-left: 0;
    }
    .#{$col-prefix-cls}#{$class}-order-#{$index} {
      order: 0;
    }
  }
}

@mixin make-grid($class: '') {
  @include loop-grid-columns($grid-columns, $class);
}
