@use 'sass:math';

@use '../custom' as *;
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin square($size) {
  @include size($size, $size);
}

// Fix Chrome's minimum font-size scaling.
@mixin iconfont-size-under-12px($size, $rotate: 0deg) {
  $font-scale: math.div($size, $font-size-base);
  display: inline-block;
  font-size: $font-size-base;
  transform: scale($font-scale) rotate($rotate);

  :root & {
    font-size: $font-size-base; // reset ie9 and above
  }
}
